	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/11/2016 08:44
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-acorn:before { content: "\f100"; }
.flaticon-axe:before { content: "\f101"; }
.flaticon-backpack:before { content: "\f102"; }
.flaticon-backpack-1:before { content: "\f103"; }
.flaticon-barbecue:before { content: "\f104"; }
.flaticon-bench:before { content: "\f105"; }
.flaticon-campfire:before { content: "\f106"; }
.flaticon-campfire-1:before { content: "\f107"; }
.flaticon-canteen:before { content: "\f108"; }
.flaticon-caravan:before { content: "\f109"; }
.flaticon-cooking:before { content: "\f10a"; }
.flaticon-cottage:before { content: "\f10b"; }
.flaticon-deer:before { content: "\f10c"; }
.flaticon-deer-1:before { content: "\f10d"; }
.flaticon-first-aid-kit:before { content: "\f10e"; }
.flaticon-fishing:before { content: "\f10f"; }
.flaticon-fishing-rod:before { content: "\f110"; }
.flaticon-fishing-tool:before { content: "\f111"; }
.flaticon-fretsaw:before { content: "\f112"; }
.flaticon-gasoline:before { content: "\f113"; }
.flaticon-hat:before { content: "\f114"; }
.flaticon-hook:before { content: "\f115"; }
.flaticon-house:before { content: "\f116"; }
.flaticon-knife:before { content: "\f117"; }
.flaticon-lamp:before { content: "\f118"; }
.flaticon-landscape:before { content: "\f119"; }
.flaticon-lantern:before { content: "\f11a"; }
.flaticon-lantern-1:before { content: "\f11b"; }
.flaticon-log:before { content: "\f11c"; }
.flaticon-log-1:before { content: "\f11d"; }
.flaticon-map:before { content: "\f11e"; }
.flaticon-matches:before { content: "\f11f"; }
.flaticon-matches-1:before { content: "\f120"; }
.flaticon-park:before { content: "\f121"; }
.flaticon-picnic:before { content: "\f122"; }
.flaticon-rope:before { content: "\f123"; }
.flaticon-sardines:before { content: "\f124"; }
.flaticon-sleeping-bag:before { content: "\f125"; }
.flaticon-swiss-army-knife:before { content: "\f126"; }
.flaticon-table:before { content: "\f127"; }
.flaticon-tent:before { content: "\f128"; }
.flaticon-tent-1:before { content: "\f129"; }
.flaticon-tent-2:before { content: "\f12a"; }
.flaticon-thermos:before { content: "\f12b"; }
.flaticon-tools:before { content: "\f12c"; }
.flaticon-trees:before { content: "\f12d"; }
.flaticon-walkie-talkie:before { content: "\f12e"; }
.flaticon-water-bottle:before { content: "\f12f"; }
.flaticon-winter-hat:before { content: "\f130"; }
.flaticon-worms:before { content: "\f131"; }