    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:34
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-axe:before { content: "\f100"; }
.flaticon-axe-1:before { content: "\f101"; }
.flaticon-backpack:before { content: "\f102"; }
.flaticon-barbecue:before { content: "\f103"; }
.flaticon-barbecue-1:before { content: "\f104"; }
.flaticon-basket:before { content: "\f105"; }
.flaticon-binoculars:before { content: "\f106"; }
.flaticon-bonfire:before { content: "\f107"; }
.flaticon-boot:before { content: "\f108"; }
.flaticon-bucket:before { content: "\f109"; }
.flaticon-burner:before { content: "\f10a"; }
.flaticon-camp-chair:before { content: "\f10b"; }
.flaticon-camp-table:before { content: "\f10c"; }
.flaticon-canned-food:before { content: "\f10d"; }
.flaticon-cauldron:before { content: "\f10e"; }
.flaticon-compass:before { content: "\f10f"; }
.flaticon-cup:before { content: "\f110"; }
.flaticon-cutlery:before { content: "\f111"; }
.flaticon-first-aid-kit:before { content: "\f112"; }
.flaticon-flashlight:before { content: "\f113"; }
.flaticon-flask:before { content: "\f114"; }
.flaticon-forest:before { content: "\f115"; }
.flaticon-guitar:before { content: "\f116"; }
.flaticon-head-light:before { content: "\f117"; }
.flaticon-inflatable-boat:before { content: "\f118"; }
.flaticon-insect-repellent:before { content: "\f119"; }
.flaticon-kettle:before { content: "\f11a"; }
.flaticon-knife:before { content: "\f11b"; }
.flaticon-log:before { content: "\f11c"; }
.flaticon-marshmallow:before { content: "\f11d"; }
.flaticon-matches:before { content: "\f11e"; }
.flaticon-mountains:before { content: "\f11f"; }
.flaticon-oil-lamp:before { content: "\f120"; }
.flaticon-orientation:before { content: "\f121"; }
.flaticon-pan:before { content: "\f122"; }
.flaticon-penknife:before { content: "\f123"; }
.flaticon-photo-camera:before { content: "\f124"; }
.flaticon-pick:before { content: "\f125"; }
.flaticon-pot-on-fire:before { content: "\f126"; }
.flaticon-radio:before { content: "\f127"; }
.flaticon-rope:before { content: "\f128"; }
.flaticon-sandwich:before { content: "\f129"; }
.flaticon-shotgun:before { content: "\f12a"; }
.flaticon-shovel:before { content: "\f12b"; }
.flaticon-sleeping-bag:before { content: "\f12c"; }
.flaticon-spinning:before { content: "\f12d"; }
.flaticon-tent:before { content: "\f12e"; }
.flaticon-thermo:before { content: "\f12f"; }
.flaticon-trailer:before { content: "\f130"; }
.flaticon-tree:before { content: "\f131"; }
    
    $font-Flaticon-axe: "\f100";
    $font-Flaticon-axe-1: "\f101";
    $font-Flaticon-backpack: "\f102";
    $font-Flaticon-barbecue: "\f103";
    $font-Flaticon-barbecue-1: "\f104";
    $font-Flaticon-basket: "\f105";
    $font-Flaticon-binoculars: "\f106";
    $font-Flaticon-bonfire: "\f107";
    $font-Flaticon-boot: "\f108";
    $font-Flaticon-bucket: "\f109";
    $font-Flaticon-burner: "\f10a";
    $font-Flaticon-camp-chair: "\f10b";
    $font-Flaticon-camp-table: "\f10c";
    $font-Flaticon-canned-food: "\f10d";
    $font-Flaticon-cauldron: "\f10e";
    $font-Flaticon-compass: "\f10f";
    $font-Flaticon-cup: "\f110";
    $font-Flaticon-cutlery: "\f111";
    $font-Flaticon-first-aid-kit: "\f112";
    $font-Flaticon-flashlight: "\f113";
    $font-Flaticon-flask: "\f114";
    $font-Flaticon-forest: "\f115";
    $font-Flaticon-guitar: "\f116";
    $font-Flaticon-head-light: "\f117";
    $font-Flaticon-inflatable-boat: "\f118";
    $font-Flaticon-insect-repellent: "\f119";
    $font-Flaticon-kettle: "\f11a";
    $font-Flaticon-knife: "\f11b";
    $font-Flaticon-log: "\f11c";
    $font-Flaticon-marshmallow: "\f11d";
    $font-Flaticon-matches: "\f11e";
    $font-Flaticon-mountains: "\f11f";
    $font-Flaticon-oil-lamp: "\f120";
    $font-Flaticon-orientation: "\f121";
    $font-Flaticon-pan: "\f122";
    $font-Flaticon-penknife: "\f123";
    $font-Flaticon-photo-camera: "\f124";
    $font-Flaticon-pick: "\f125";
    $font-Flaticon-pot-on-fire: "\f126";
    $font-Flaticon-radio: "\f127";
    $font-Flaticon-rope: "\f128";
    $font-Flaticon-sandwich: "\f129";
    $font-Flaticon-shotgun: "\f12a";
    $font-Flaticon-shovel: "\f12b";
    $font-Flaticon-sleeping-bag: "\f12c";
    $font-Flaticon-spinning: "\f12d";
    $font-Flaticon-tent: "\f12e";
    $font-Flaticon-thermo: "\f12f";
    $font-Flaticon-trailer: "\f130";
    $font-Flaticon-tree: "\f131";