	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-axe:before { content: "\f100"; }
.flaticon-backpack:before { content: "\f101"; }
.flaticon-backpack-1:before { content: "\f102"; }
.flaticon-basket:before { content: "\f103"; }
.flaticon-binoculars:before { content: "\f104"; }
.flaticon-bonfire:before { content: "\f105"; }
.flaticon-cabin:before { content: "\f106"; }
.flaticon-campfire:before { content: "\f107"; }
.flaticon-canoe:before { content: "\f108"; }
.flaticon-canteen:before { content: "\f109"; }
.flaticon-carabiner:before { content: "\f10a"; }
.flaticon-compass:before { content: "\f10b"; }
.flaticon-compass-1:before { content: "\f10c"; }
.flaticon-compass-2:before { content: "\f10d"; }
.flaticon-compass-3:before { content: "\f10e"; }
.flaticon-fishing:before { content: "\f10f"; }
.flaticon-fishing-1:before { content: "\f110"; }
.flaticon-fishing-rod:before { content: "\f111"; }
.flaticon-fishing-vest:before { content: "\f112"; }
.flaticon-flashlight:before { content: "\f113"; }
.flaticon-forest:before { content: "\f114"; }
.flaticon-freezer:before { content: "\f115"; }
.flaticon-gas:before { content: "\f116"; }
.flaticon-gasoline:before { content: "\f117"; }
.flaticon-hatchet:before { content: "\f118"; }
.flaticon-hatchet-1:before { content: "\f119"; }
.flaticon-hook:before { content: "\f11a"; }
.flaticon-hunting-trophy:before { content: "\f11b"; }
.flaticon-knife:before { content: "\f11c"; }
.flaticon-lamp:before { content: "\f11d"; }
.flaticon-lamp-1:before { content: "\f11e"; }
.flaticon-lighter:before { content: "\f11f"; }
.flaticon-lodge:before { content: "\f120"; }
.flaticon-log:before { content: "\f121"; }
.flaticon-map:before { content: "\f122"; }
.flaticon-marshmallow:before { content: "\f123"; }
.flaticon-matches:before { content: "\f124"; }
.flaticon-mountain:before { content: "\f125"; }
.flaticon-picnic:before { content: "\f126"; }
.flaticon-pines:before { content: "\f127"; }
.flaticon-raft:before { content: "\f128"; }
.flaticon-rafting:before { content: "\f129"; }
.flaticon-rope:before { content: "\f12a"; }
.flaticon-slingshot:before { content: "\f12b"; }
.flaticon-swiss-army-knife:before { content: "\f12c"; }
.flaticon-tent:before { content: "\f12d"; }
.flaticon-tent-1:before { content: "\f12e"; }
.flaticon-thermo:before { content: "\f12f"; }
.flaticon-tree:before { content: "\f130"; }
.flaticon-trees:before { content: "\f131"; }